<section class="sheet-body ammo-sheet-body">
  <section class="sheet-panel">
    {{> "systems/cyberpunk-blue/templates/parts/prose-editor.hbs" name="system.description" value=system.description uuid=item.uuid enriched=enrichedDescription editable=canEditAsOwner}}
  </section>
</section>
